h4{font-size: 14px; color:#898989;}
.discussion {background-color: #f0f0f0;}
.brand-logo {margin-left:40px; font-size: 24px;}
.amendementBlock {margin: 0px auto; max-width:800px; font-size: 16px; background-color: white; padding: 20px 10% 20px 10%;
  box-shadow: 0 -1.5px 2.5px 0 rgba(204, 204, 204, 0.5), 0 1.5px 2.5px 0 rgba(177, 173, 173, 0.5);}
.amendementBlock h3 {font-size:20px; flex: 1 1 auto; margin:0px;}
.amendementBlock h4 {font-size:16px; text-transform:uppercase; }

.approvalStatusAdopted {margin-left: 10px; padding: 5px 5px 5px 5px; font-size: 16px; background-color:#4caf50; color:white; flex:1 1 auto;}
.approvalStatusFiled {margin-left: 10px; padding: 5px 5px 5px 5px; font-size: 16px; background-color:grey; color:white; flex:1 1 auto;}
.approvalStatusRejected {margin-left: 10px; padding: 5px 5px 5px 5px; font-size: 16px; background-color:#d0021b; color:white; flex:1 1 auto;}

.amendementInstructions {position:relative; text-align: left;}
.exposeSommaire {position:relative; background-color: #ebebeb; border-bottom: 3px solid #979797; padding:10px; text-align: left;}

.amendement-author{display:inline-flex; align-items:center; margin: 0px auto; max-width:800px;}
.amendement-author img {flex:1; height: 100px; width:auto;}
.author-info {flex:10; text-align: left; padding-left:10px;}

.amendement-cosignataires li {display:inline; list-style-type: none; padding-right: 0px;}
.amendement-cosignataires li:after {content: ", ";}
.amendement-cosignataires li:last-child::after {content: ".";}

.btn-linked-content:hover {
    background-color:#231479;
    color: white;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    background-color: #f4ecd8;
    color: #5b4636;
    overflow-y: auto; overflow-x:hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top:50px;
    width: 100%;
    text-align: left;
    padding: 0px 30px 30px 30px;
    overflow-y:visible;
}
.overlay-content p,h1,h2,h3,h4,h5,h6,ul,li {padding-right:10%; line-height: 1.3em;}

.overlay a {
    color: #231479;
}

.overlay a:hover, .overlay a:focus {
    color: rgb(37, 87, 161);
}

.material-icons, .overlay-content.material-icons {
    display: inline-flex;
    vertical-align:bottom;
}

